.update-password{
    width: 350px;
    padding: 10px 15px;
    height: 300px;
}

.forgot-user{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}

.forgot-user span{
    font-size: 12px;
    font-weight: 550;
    opacity: 0.7;
}

.forgot-user button{
    background: none;
    border: none;
    font-size: 20px;
}

.update-password-box{
    margin-top: 20px;
}

.password-box input{
    display: block;
    width:100%;
    padding: 7px 0;
    border:none;
    outline: none;
    font-size: 13px;
}

.password-box label{
    font-size: 14px;
    font-weight: 500;
    opacity: 0.6;
}

.update-password-box hr{
    color:aqua;
    margin-bottom: 20px;
}

.update-password-box button{
    margin: 10px 0;
    padding: 10px 35px;
    background: rgb(66, 162, 162);
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px!important;
    line-height: 18px!important;
    color: #fff;
    border: none;
    width: 100%;
}

@media (max-width:450px){
    .update-password{
        width:280px
    }
}