.forgot-password{
    width: 280px;
    /* position: absolute; */
    z-index:30;
    top:100px;
    right:35%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
     background-color: #fff;
    height: 345px;

    border: 2px solid #000;
    box-shadow: 24;
    padding: 4;
}

.forgot-user{
    display: flex;
    justify-content: space-between;
}