.basePageBuilderStyle {
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: normal;
    background-color: #fff;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 150px;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}


#pb0 {
    position: relative;
    margin-bottom: 10px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

#pb0-0, #pb1-0, #pb2-0, #pb3-0 , #pb3-1, #pb4-0, #pb5-0, #pb6-0, #pb7-0 {
    padding: 0;
}

.col-xs-12 {
    width: 100%;
}

[class*=" icon_"],
[class*=icon_] {
    font-family: icomoon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slickNextarrow {
    right: 20px;
}

.commonArrow,
.slickNextarrow,
.slickPrevarrow {
    background: hsla(0, 0%, 100%, .4);
    font-size: 19px;
    color: #000;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    cursor: pointer;
    top: calc(50% - 25px);
    padding: 14px;
    position: absolute !important;
    z-index: 5;
}

.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal>.swiper-wrapper {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-wrapper {
    transition-timing-function: linear;
}

.basePageBuilderStyle a {
    color: #000;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color .3s;
    -webkit-text-decoration-skip: objects;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.swiper-slide-link {
    display: block;
    margin-left: 0px;
    padding-top: 35.7143%;
    position: relative;
    width: 533.929px;
    margin-right: 15px;
}

.swiper-slide-img {
    position: absolute;
    top: 0px;
    width: 100%;
    cursor: pointer;
    border-radius: 0px;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: opacity .3s;
    transform: translateZ(0);
    z-index: 10;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff;
}

/* second section start from here */

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#pb1, #pb3, #pb4, #pb5, #pb6, #pb7 {
    position: relative;
}

.widgetSliderWrapper,
.widgetSliderWrapper ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.widgetSliderWrapper {
    position: relative;
    margin: 0 0 0 10px;
    text-align: center;
}

.basePageBuilderStyle dl,
.basePageBuilderStyle ol,
.basePageBuilderStyle p,
.basePageBuilderStyle ul {
    margin-top: 0;
    margin-bottom: 0;
}

.widgetSliderWrapper ul {
    overflow-x: scroll;
}

.widgetSliderWrapper,
.widgetSliderWrapper ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.widgetSliderWrapper .widgetSliderInner {
    position: relative;
    margin: 0 25px 0 0;
    text-align: center;
    min-width: 54px;
}

.basePageBuilderStyle a {
    color: #000;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color .3s;
    -webkit-text-decoration-skip: objects;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

#pb1-0-0 .widgetSliderWrapper .widgetImg {
    height: 175px;
    width: 125px;
}

.widgetSliderWrapper .widgetImg {
    width: 54px;
    height: 54px;
    border-radius: 12px;
    margin: 0 auto;
    overflow: hidden;
}

.basePageBuilderStyle img {
    vertical-align: middle;
    border-style: none;
}

#pb1-0-0 .widgetSliderWrapper p {
    font-size: 11px;
}

.basePageBuilderStyle dl, .basePageBuilderStyle ol, .basePageBuilderStyle p, .basePageBuilderStyle ul {
    margin-top: 0;
    margin-bottom: 0;
}

/* third section start from here */

#pb2  {
    position: relative;
    margin-top: 10px;
}

#pb2-0-0 {
    font-family: montserrat, sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 20px;
    color: black;
    text-align: center;
}

.basePageBuilderStyle a {
    color: #000;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color .3s;
    -webkit-text-decoration-skip: objects;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

/* forth section start from here  */

#pb3-0-0 img {
    width: 100%;
    padding: 0;
}

.basePageBuilderStyle img {
    vertical-align: middle;
    border-style: none;
}

/* fifth section start from here  */

#pb4-0-0 {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 20px;
    color: black;
    text-align: center;
}

/* sixth section start from here  */

.dealOFWeekWrapper {
    margin: 0 auto;
    text-align: center;
    clear: both;
}

/* seventh section start from here  */






@media (min-width: 769px) {
    .container {
        width: 100%;
    }

    .widgetSliderWrapper {
        max-width: 1170px;
        margin: 0 auto 58px;
    }

    .widgetSliderWrapper .widgetSliderInner {
        position: relative;
        margin: 0 66px 0 0;
        text-align: center;
        min-width: 108px;
    }

    .widgetSliderWrapper .widgetImg {
        width: 108px;
        height: auto;
        border-radius: 12px;
        margin: 0 auto;
        overflow: hidden;
    }

    .widgetSliderWrapper .widgetImg img {
        width: 100%;
        display: block;
    }

    .widgetSliderWrapper .widgetSliderInner p {
        font-size: 12px;
        font-family: montserrat, sans-serif;
        font-weight: 700;
        letter-spacing: .05px;
        margin-top: 19px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}